beautifulsoup4==4.6.3
jsonpickle==1.0
lxml==4.2.5
nltk==3.3
PyYAML==3.12
requests==2.18.4
selenium==3.141.0
underthesea==1.1.8
urllib3==1.22
XlsxWriter==1.1.1
PyVirtualDisplay==0.2.1
xvfbwrapper==0.2.9
bs4==0.0.1
psutil==5.4.8
elasticsearch-dsl==6.3.1
