beautifulsoup4==4.6.3
jsonpickle==1.0
lxml==4.6.3
nltk==3.3
PyYAML==5.4
requests==2.31.0
selenium==3.141.0
underthesea==1.1.8
XlsxWriter==1.1.1
PyVirtualDisplay==0.2.1
xvfbwrapper==0.2.9
bs4==0.0.1
psutil==5.7.2
elasticsearch-dsl==6.3.1
epdb==0.15.1
pika==1.0.1
Flask==1.1.1
PyJWT==1.7.1
boto3==1.9.210
botocore==1.12.210
pytz==2019.2
opencv-python-headless==4.4.0.44
textdistance==4.1.4
python-wordpress-xmlrpc==2.3
psycopg2-binary==2.8.6
SQLAlchemy==1.3.22
